<!DOCTYPE html>
<html>
    <head>
        <title>
            Boards | Kltool
        </title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {{>general_css_js}}
        {{>materialize}}
    </head>
    <body class="boards">
        <div class="content">
            <div class="container-fluid">
                {{>header}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="message">{{{message}}}</div>
                    </div>
                    <div class="col-12">
                        <div class="error">{{{error}}}</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <button class="kltool-button" data-toggle="modal" data-target="#addBoard">Add board</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {{#each boards}}
                        <div class="col-lg-6 col-12 card-layout">
                            <div class="card deep-purple lighten-2 darken-1">
                                <div class="card-content white-text">
                                    <span class="card-title">{{this.board_title}}</span>
                                    <p>{{this.board_description}}</p>
                                </div>
                                <div class="card-action">
                                    <a href="/board/{{this.id}}">Visit board</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{>create_board_modal}}
        {{>footer}}
        <script src="/js/scripts.js"></script>
    </body>
</html>